{% extends 'portfolio/base.html' %}
{% block content %}
        <h2>Account</h2>
        <p></p>Account: {{account.name}}</p>
        <p>Value: {{account.account_value}}</p>
        <p>Value: {{account.account_type}}</p>
        <table>
            {% for h in account.holding_set.all %}
                <tr>
                    <td><a href="{{ h.get_absolute_url }}">{{ h.stock }}</a> </td>
                    <td>volume: {{h.volume }} </td>
                    <td>value: {{h.current_value}} </td>
                   
                </tr>   
             {% endfor %}
        </table>
{% endblock %}