{% extends 'portfolio/base.html' %}
{% block content %}
        <h2>Account</h2>
        <p></p>Account: {{object.name}}</p>
        <p>Value: {{object.account_value}}</p>
        <p>Value: {{object.account_type}}</p>
        <table>
            {% for t in transaction_list %}
                <tr>
                    <td>{{ t.stock }}</td>
                    <td>type: {{t.transaction_type }} </td>
                    <td>volume: {{t.volume}} </td>
                   
                </tr>
             {% endfor %}
        </table>
{% endblock %}