{% extends 'portfolio/base.html' %}
{% load tz %}
{% block content %}
<h1>Summary at {{updateTime}}</h1>
<h2>total: {{ totalvalue |floatformat:0 }}</h2>
<h2>total USD: {{ totalvalueUSD |floatformat:0 }}</h2>

{% comment %} <button id="copybtn">Copy</button><br>
<button id="demo" onclick="copyToClipboard(document.getElementById('copytextarea').innerHTML)">This is what I want to
    copy</button> {% endcomment %}
<div id="copytextarea">

    {{accounts_by_type.4.total_value}}<br>
    {{accounts_by_type.3.total_value}}<br>
    {{pensions.1.account_value}}<br>
    {{USDGBP}}<br>
    {{pensions.2.account_value}}<br>

</div>

<a href="https://www.avivamymoney.co.uk/" target="_blank"> Henri Pension</a>
|
<a href="https://finance.yahoo.com/quote/GBPUSD%3DX?p=GBPUSD%3DX" target="_blank">GBP/USD</a>
|<a href="https://www.iweb-sharedealing.co.uk/" target="_blank">iWeb</a>


{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#copybtn').addEventListener('click', function (event) {
            var copyTextarea = document.querySelector('#copytextarea');
            copyTextarea.focus();
            copyTextarea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        })
    });

    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }
</script>

{% endblock %}